* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.solitaireField {
  width: 100%;
  height: 100%; }

.solitaireField * {
  cursor: inherit; }

.el {
  position: absolute; }

.slot {
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #121212;
  border-radius: 3px; }

.card {
  border-radius: 3px; }

.tip:after {
  content: attr(data-content);
  background-color: #ffff00;
  opacity: 0.3;
  font-size: 90%;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px;
  border-radius: 3px; }

.flip.tip:after {
  width: 0px;
  height: 0px; }

.tipTo {
  box-shadow: inset 0 0 15px 15px rgba(8, 157, 227, 0.5); }

.tipToHome:after {
  content: attr(data-content);
  background-color: #ffff00;
  opacity: 0.5;
  font-size: 90%;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  display: inline-block;
  margin: 0px; }

.tipPriority {
  box-shadow: inset 0 0 15px 15px rgba(255, 153, 0, 0.5); }

.full:after {
  content: attr(data-content);
  background-color: #909090;
  opacity: 0.5;
  font-size: 90%;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0px; }

.deckLabel {
  font-family: Verdana;
  display: inline-block;
  font-size: 8pt;
  margin-top: -18px;
  font-weight: bold;
  text-shadow: #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0, #000 1px 1px 0;
  color: #fff;
  min-width: 62px;
  z-index: 99;
  text-align: center;
  padding: 2px 4px;
  border-radius: 5px;
  background: #eeeeee;
  z-index: 999;
  position: absolute;
  top: static;
  left: 0px; }

.hintUp {
  background: url("/solitaire_engine/img/up.png"); }

.hintDown {
  background: url("/solitaire_engine/img/down.png"); }

.hintUp, .hintDown {
  background-size: 80% 80%;
  background-position: center -5px;
  background-repeat: no-repeat; }

.hintUp > .deckLabel, .hintDown > .deckLabel {
  background: transparent;
  font-size: 14pt;
  text-shadow: none;
  bottom: 0px;
  opacity: 0.9; }

#solitaire-engine-style-preferences {
  margin: 15px 0px 20px 0px; }
  #solitaire-engine-style-preferences label {
    display: block; }
  #solitaire-engine-style-preferences h4 {
    margin: 20px 0px 20px 0px; }

.solitaire-engine-style-preferences-label {
  display: inline-block;
  width: 150px;
  line-height: 20px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px; }

.red_back .flip {
  background: url("/solitaire_engine/img/b2fv.png");
  background-size: 100% 100%;
  border: 0px; }

.blue_back .flip {
  background: url("/solitaire_engine/img/b1fv.png");
  background-size: 100% 100%;
  border: 0px; }

.marker:after {
  content: attr(data-content);
  background-image: url("/solitaire_engine/img/marker.png");
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0px; }
.default_field {
  background: green; }

.default_back .flip:after {
  content: attr(data-content);
  width: 100%;
  height: 100%;
  margin-top: -1px;
  margin-left: -1px;
  display: inline-block;
  background: #4086cc;
  background: -moz-linear-gradient(-45deg, #4086cc 0%, #f0f5fb 100%);
  background: -webkit-linear-gradient(-45deg, #4086cc 0%, #f0f5fb 100%);
  background: linear-gradient(135deg, #4086cc 0%, #f0f5fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4086cc', endColorstr='#f0f5fb', GradientType=1);
  border: 1px solid #000000;
  border-radius: 3px; }

.default_face .card {
  background-size: 100% 100%;
  background-position: 0px 0px; }

.default_face .d1 {
  background-image: url("/solitaire_engine/img/d1.png"); }

.default_face .d2 {
  background-image: url("/solitaire_engine/img/d2.png"); }

.default_face .d3 {
  background-image: url("/solitaire_engine/img/d3.png"); }

.default_face .d4 {
  background-image: url("/solitaire_engine/img/d4.png"); }

.default_face .d5 {
  background-image: url("/solitaire_engine/img/d5.png"); }

.default_face .d6 {
  background-image: url("/solitaire_engine/img/d6.png"); }

.default_face .d7 {
  background-image: url("/solitaire_engine/img/d7.png"); }

.default_face .d8 {
  background-image: url("/solitaire_engine/img/d8.png"); }

.default_face .d9 {
  background-image: url("/solitaire_engine/img/d9.png"); }

.default_face .d10 {
  background-image: url("/solitaire_engine/img/d10.png"); }

.default_face .dj {
  background-image: url("/solitaire_engine/img/dj.png"); }

.default_face .dq {
  background-image: url("/solitaire_engine/img/dq.png"); }

.default_face .dk {
  background-image: url("/solitaire_engine/img/dk.png"); }

.default_face .s1 {
  background-image: url("/solitaire_engine/img/s1.png"); }

.default_face .s2 {
  background-image: url("/solitaire_engine/img/s2.png"); }

.default_face .s3 {
  background-image: url("/solitaire_engine/img/s3.png"); }

.default_face .s4 {
  background-image: url("/solitaire_engine/img/s4.png"); }

.default_face .s5 {
  background-image: url("/solitaire_engine/img/s5.png"); }

.default_face .s6 {
  background-image: url("/solitaire_engine/img/s6.png"); }

.default_face .s7 {
  background-image: url("/solitaire_engine/img/s7.png"); }

.default_face .s8 {
  background-image: url("/solitaire_engine/img/s8.png"); }

.default_face .s9 {
  background-image: url("/solitaire_engine/img/s9.png"); }

.default_face .s10 {
  background-image: url("/solitaire_engine/img/s10.png"); }

.default_face .sj {
  background-image: url("/solitaire_engine/img/sj.png"); }

.default_face .sq {
  background-image: url("/solitaire_engine/img/sq.png"); }

.default_face .sk {
  background-image: url("/solitaire_engine/img/sk.png"); }

.default_face .h1 {
  background-image: url("/solitaire_engine/img/h1.png"); }

.default_face .h2 {
  background-image: url("/solitaire_engine/img/h2.png"); }

.default_face .h3 {
  background-image: url("/solitaire_engine/img/h3.png"); }

.default_face .h4 {
  background-image: url("/solitaire_engine/img/h4.png"); }

.default_face .h5 {
  background-image: url("/solitaire_engine/img/h5.png"); }

.default_face .h6 {
  background-image: url("/solitaire_engine/img/h6.png"); }

.default_face .h7 {
  background-image: url("/solitaire_engine/img/h7.png"); }

.default_face .h8 {
  background-image: url("/solitaire_engine/img/h8.png"); }

.default_face .h9 {
  background-image: url("/solitaire_engine/img/h9.png"); }

.default_face .h10 {
  background-image: url("/solitaire_engine/img/h10.png"); }

.default_face .hj {
  background-image: url("/solitaire_engine/img/hj.png"); }

.default_face .hq {
  background-image: url("/solitaire_engine/img/hq.png"); }

.default_face .hk {
  background-image: url("/solitaire_engine/img/hk.png"); }

.default_face .c1 {
  background-image: url("/solitaire_engine/img/c1.png"); }

.default_face .c2 {
  background-image: url("/solitaire_engine/img/c2.png"); }

.default_face .c3 {
  background-image: url("/solitaire_engine/img/c3.png"); }

.default_face .c4 {
  background-image: url("/solitaire_engine/img/c4.png"); }

.default_face .c5 {
  background-image: url("/solitaire_engine/img/c5.png"); }

.default_face .c6 {
  background-image: url("/solitaire_engine/img/c6.png"); }

.default_face .c7 {
  background-image: url("/solitaire_engine/img/c7.png"); }

.default_face .c8 {
  background-image: url("/solitaire_engine/img/c8.png"); }

.default_face .c9 {
  background-image: url("/solitaire_engine/img/c9.png"); }

.default_face .c10 {
  background-image: url("/solitaire_engine/img/c10.png"); }

.default_face .cj {
  background-image: url("/solitaire_engine/img/cj.png"); }

.default_face .cq {
  background-image: url("/solitaire_engine/img/cq.png"); }

.default_face .ck {
  background-image: url("/solitaire_engine/img/ck.png"); }

.default_face .flip:after {
  box-sizing: border-box;
  margin-top: 0px; }
.alternative_field {
  background-image: url("/solitaire_engine/img/bg_large1.jpg");
  background-size: 100% 100%; }

.alternative_back .flip:after {
  content: attr(data-content);
  width: 71px;
  height: 96px;
  margin-left: -1px;
  display: inline-block;
  background-image: url("/solitaire_engine/img/rub.png");
  background-size: 100% 100%;
  background-position: 0px 0px; }

.alternative_face .card {
  box-sizing: border-box;
  border: 1px solid #121212;
  border-radius: 3px;
  background: url("/solitaire_engine/img/card.png");
  background-size: 923px 384px; }

.alternative_face .d1 {
  background-position: -2px -2px; }

.alternative_face .d2 {
  background-position: 69px -2px; }

.alternative_face .d3 {
  background-position: 140px -2px; }

.alternative_face .d4 {
  background-position: 211px -2px; }

.alternative_face .d5 {
  background-position: 282px -2px; }

.alternative_face .d6 {
  background-position: 353px -2px; }

.alternative_face .d7 {
  background-position: 424px -2px; }

.alternative_face .d8 {
  background-position: 495px -2px; }

.alternative_face .d9 {
  background-position: 566px -2px; }

.alternative_face .d10 {
  background-position: 637px -2px; }

.alternative_face .dj {
  background-position: 708px -2px; }

.alternative_face .dq {
  background-position: 779px -2px; }

.alternative_face .dk {
  background-position: 850px -2px; }

.alternative_face .s1 {
  background-position: -2px 94px; }

.alternative_face .s2 {
  background-position: 69px 94px; }

.alternative_face .s3 {
  background-position: 140px 94px; }

.alternative_face .s4 {
  background-position: 211px 94px; }

.alternative_face .s5 {
  background-position: 282px 94px; }

.alternative_face .s6 {
  background-position: 353px 94px; }

.alternative_face .s7 {
  background-position: 424px 94px; }

.alternative_face .s8 {
  background-position: 495px 94px; }

.alternative_face .s9 {
  background-position: 566px 94px; }

.alternative_face .s10 {
  background-position: 637px 94px; }

.alternative_face .sj {
  background-position: 708px 94px; }

.alternative_face .sq {
  background-position: 779px 94px; }

.alternative_face .sk {
  background-position: 850px 94px; }

.alternative_face .h1 {
  background-position: -2px 190px; }

.alternative_face .h2 {
  background-position: 69px 190px; }

.alternative_face .h3 {
  background-position: 140px 190px; }

.alternative_face .h4 {
  background-position: 211px 190px; }

.alternative_face .h5 {
  background-position: 282px 190px; }

.alternative_face .h6 {
  background-position: 353px 190px; }

.alternative_face .h7 {
  background-position: 424px 190px; }

.alternative_face .h8 {
  background-position: 495px 190px; }

.alternative_face .h9 {
  background-position: 566px 190px; }

.alternative_face .h10 {
  background-position: 637px 190px; }

.alternative_face .hj {
  background-position: 708px 190px; }

.alternative_face .hq {
  background-position: 779px 190px; }

.alternative_face .hk {
  background-position: 850px 190px; }

.alternative_face .c1 {
  background-position: -2px 286px; }

.alternative_face .c2 {
  background-position: 69px 286px; }

.alternative_face .c3 {
  background-position: 140px 286px; }

.alternative_face .c4 {
  background-position: 211px 286px; }

.alternative_face .c5 {
  background-position: 282px 286px; }

.alternative_face .c6 {
  background-position: 353px 286px; }

.alternative_face .c7 {
  background-position: 424px 286px; }

.alternative_face .c8 {
  background-position: 495px 286px; }

.alternative_face .c9 {
  background-position: 566px 286px; }

.alternative_face .c10 {
  background-position: 637px 286px; }

.alternative_face .cj {
  background-position: 708px 286px; }

.alternative_face .cq {
  background-position: 779px 286px; }

.alternative_face .ck {
  background-position: 850px 286px; }

.alternative_face.alternative_back .flip:after {
  margin-top: -1px; }
#gamePreferences span {
  width: 100%; }

#markCard.markCardButtonActive {
  color: yellow; }

#specialMoveBtn.specialStepButtonActive {
  background: #EFCEEF; }

/*# sourceMappingURL=SolitaireEngine.css.map*/