$img_dir : "/solitaire_engine/img/";

$card_width  : 71px;
$card_height : 96px;

$theme_name  : "alternative";

$cards : ("1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "j", "q", "k");
$ranks : ("d", "s", "h", "c");

.#{$theme_name}_field {
	background-image : url('#{$img_dir}bg_large1.jpg');
	background-size  : 100% 100%;
}

.#{$theme_name}_back {

	.flip:after {
		content             : attr(data-content);
		width               : 100%;
		height              : 100%;
		margin-left         : -1px;
		display             : inline-block;
		background-image    : url('#{$img_dir}rub.png');
		background-size     : 100% 100%;
		background-position : 0px 0px;
	}
}

.#{$theme_name}_face {

	.card {
		border          : 1px solid #121212;
		border-radius   : 3px;
		background      : url('#{$img_dir}card.png');
		background-size : length($cards) * $card_width length($ranks) * $card_height;
	}

	@each $rank in $ranks {
		@each $card in $cards {
			
			.#{$rank}#{$card} {
				background-position : $card_width * (index($cards, $card) - 1) - 2 $card_height * (index($ranks, $rank) - 1) - 2;
			}
		}
	}

	.marker:after {
		margin-top: -1px;
		margin-left: -1px;
	}

}

.#{$theme_name}_face.#{$theme_name}_back .flip:after {
	margin-top : -1px;
}
