$img_dir :"/solitaire_engine/img/";

* {
	-webkit-touch-callout : none;
	-webkit-user-select   : none;
	-khtml-user-select    : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	user-select           : none;
} 

.solitaireField {
	width  : 100%;
	height : 100%;
}

.solitaireField * {
	cursor : inherit;
}

.el {
	position : absolute;
}

.slot {
	background    : transparent;
	box-sizing    : border-box;
	border        : 1px solid #121212;
	border-radius : 3px;
}

.card {
	border-radius : 3px;
}

.tip:before {
	content          : attr(data-content);
	background-color : #FFFF00;
	opacity          : 0.3;
	font-size        : 90%;
	width            : 100%;
	height           : 100%;
	display          : block;
	margin           : 0px;
	border-radius    : 3px;
}

.flip.tip:before {
	width  : 0px;
	height : 0px;
}

.tipTo {
	box-shadow : inset 0 0 15px 15px rgba(8, 157, 227, 0.5); 
}

.tipToHome:before {
	content          : attr(data-content);
	background-color : #FFFF00;
	opacity          : 0.5;
	font-size        : 90%;
	width            : 100%;
	height           : 100%;
	border-radius    : 3px;
	display          : inline-block;
	margin           : 0px;
}

.tipPriority {
	box-shadow: inset 0 0 15px 15px rgba(255, 153, 0, 0.5); 
}

.full:after {
	content          : attr(data-content);
	background-color : #d0d0d0;
	opacity          : 0.5;
	font-size        : 90%;
	width            : 100%;
	height           : 100%;
	display          : inline-block;
	margin           : 0px;	
}

.hintUp {
	background : url('#{$img_dir}up.png');
}

.hintDown {
	background : url('#{$img_dir}down.png');
}

.hintUp, .hintDown {
	background-size     : 80% 80%;
	background-position : center -5px;
	background-repeat   : no-repeat; 
}

.hintUp:after, .hintDown:after {
    content: attr(data-content);
    font-family: Verdana, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: #FFFFFF;
    opacity: 0.9;
    position: relative;
    top: 70px;
}

#solitaire-engine-style-preferences {
	margin : 15px 0px 20px 0px;
	
	label {
		display : block;
	}

	h4 {
		margin : 20px 0px 20px 0px;
	}
}

.solitaire-engine-style-preferences-label {
	display        : inline-block;
	width          : 150px;
	line-height    : 20px;
	font-weight    : bold;
	padding-top    : 3px;
	padding-bottom : 3px;
}

.red_back {
	.flip {
		background      : url('#{$img_dir}b2fv.png');
		background-size : 100% 100%;
		border          : 0px;
	}
}

.blue_back {
	.flip {
		background      : url('#{$img_dir}b1fv.png');
		background-size : 100% 100%;
		border          : 0px;
	}
}

.marker:after {
	content          : attr(data-content);
	background-image : url('#{$img_dir}marker.png');
	width            : 100%;
	height           : 100%;
	display          : inline-block;
	margin           : 0px;
    position         : absolute;
    top              : 0px;
    left             : 0px;
}

.specialStepMark .card:not(.flip):hover:before {
	content          : attr(data-content);
	background-color : #FF00FF;
	opacity          : 0.2;
	font-size        : 90%;
	width            : 100%;
	height           : 100%;
	border-radius    : 3px;
	display          : inline-block;
	margin           : 0px;
}

.card.flip {
	background: none;
	background-image: none;
}

.prevFlip.flip {
	transition: 0.2s;
}

.prevFlip.flip:hover {
	transition: 0.2s;
	margin-left: -20px;
}

.prevFlip.flip:hover:after {
	opacity: 0;
	transition: opacity 0.2s;
}

.prevFlip.flip:after {
	opacity: 0.5;
	transition: opacity 0.2s;
}

.slot:after {
	content: attr(data-content);
}

.card.tip.full:after {
	content: none;
}