$img_dir:"/solitaire_engine/img/";

$cards: ("1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "j", "q", "k");
$ranks: ("d", "s", "h", "c");

@each $rank in $ranks {
	@each $card in $cards {

		.#{$rank}#{$card} {
			background-image: url('#{$img_dir}#{$rank}#{$card}.png');
		}

	}
}

.card {
	background-size: 100% 100%;
	background-position: 0px 0px;
}

.slot {
	background: url('#{$img_dir}slot1.png'); 
	background-size: 100% 100%;
	outline: 1px solid transparent;
}

.flip {
    background-image: url('#{$img_dir}rub1.png')!important;
}